version: '3.7'

services:
  # Нginx
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/ssl
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - nuxt
      - vue
      - nest

  # Nuxt 3
  nuxt:
    build:
      context: ./landing2
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./landing2:/app
    networks:
      - app_network

  # Vue 3
  vue:
    build:
      context: ./vue-project
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./vue-project:/app
    networks:
      - app_network

  # NestJS (бэкенд)
  nest:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./back:/app
    depends_on:
      - postgres
    networks:
      - app_network

  # PostgreSQL
  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_network

  # pgAdmin
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - app_network

  # Let's Encrypt для SSL
  certbot:
    image: certbot/certbot
    volumes:
      - ./ssl:/etc/letsencrypt
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

networks:
  app_network:
    driver: bridge

volumes:
  pgadmin_data:
  postgres_data: