

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html {
  font-size: 0.5208333333vw;
  font-family: sans-serif;
  color: rgb(254, 233, 206);
  scroll-behavior: smooth;
  user-select: none;
}

body {
  overflow: hidden;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: .2s ease-in;
}


@media screen and (max-width: 768px) {
  html {
  font-size: clamp(3.7px, 0.4208333333vw, 6px);
  }
}


/* Глобально */
.q-field--labeled .q-field__label {
  color: white !important;
}

.q-menu .q-item__label {
  color: #222 !important;
}

.q-field__native {
  color: aliceblue;
}

.q-field--standard .q-field__control:before{
  border-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

 img {
  width: 100%;
 }

 .q-field input, select,textarea {
  padding: 14px 0;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.25);
 }

 .q-field input:focus, textarea:focus {
  border-bottom-color: rgba(255,255,255,0.7);
}

.q-item__section--avatar {
  min-width: none;
}

.q-checkbox__inner {
  color: #fff;
}


:root{
  --bg0:#07080c;
  --bg1:#0b0f16;
  --glass: rgba(14, 16, 22, .62);
  --stroke: rgba(255, 214, 140, .35);
  --stroke2: rgba(255, 214, 140, .18);
  --gold1: #ffd88c;
  --gold2: #b8873d;
  --text: #e9eaf0;
  --muted: rgba(233,234,240,.65);

  --radius: 22px;
  --padX: 18px;
  --headerH: 76px;
}